src/stepfunctions/full_load.json
{
    "Comment": "Launch the EMR cluster and perform a full load",
    "StartAt": "LaunchEMR",
    "States": {
        "LaunchEMR": {
            "Type": "Task",
            "Resource": "arn:aws:states:::elasticmapreduce:createCluster.sync",
            "InputPath": "$.lambda",
            "Parameters": {
                "Name.$": "$$.Execution.Name",
                "VisibleToAllUsers": true,
                "ReleaseLabel": "emr-6.4.0",
                "EbsRootVolumeSize": 10,
                "Tags": [
                    {
                        "Key": "for-use-with-amazon-emr-managed-policies",
                        "Value": "true"
                    }
                ],
                "Applications": [
                    { "Name": "Hive" },
                    { "Name": "Hadoop" },
                    { "Name": "Spark" }
                ],
                "ServiceRole": "${EmrServiceRole}",
                "JobFlowRole": "${EmrJobFlowRole}",
                "AutoScalingRole": "${EmrAutoScalingRole}",
                "LogUri": "${EmrLogUri}",
                "StepConcurrencyLevel.$": "$.emr.step_parallelism",
                "BootstrapActions": [
                    {
                        "Name": "SyncLibsAndConfigs",
                        "ScriptBootstrapAction": {
                            "Path": "${ArtifactPrefixUri}/emr/bootstrap/bootstrap.sh",
                            "Args.$": "States.Array('${ArtifactPrefixUri}', $.runtime_configs)"
                        }
                    }
                ],
                "Instances": {
                    "Ec2SubnetId": "${EmrEc2SubnetId}",
                    "KeepJobFlowAliveWhenNoSteps": true,
                    "InstanceGroups": [
                        {
                            "InstanceCount":1,
                            "EbsConfiguration":{
                                "EbsBlockDeviceConfigs":[
                                    {
                                        "VolumeSpecification":{
                                            "SizeInGB":32,
                                            "VolumeType":"gp2"
                                        },
                                        "VolumesPerInstance":2
                                    }
                                ]
                            },
                            "InstanceRole":"MASTER",
                            "InstanceType.$":"$.emr.master.instance_type",
                            "Name":"Master - 1"
                        },
                        {
                            "InstanceCount.$":"$.emr.worker.count",
                            "EbsConfiguration":{
                                "EbsBlockDeviceConfigs":[
                                    {
                                        "VolumeSpecification":{
                                            "SizeInGB":32,
                                            "VolumeType":"gp2"
                                        },
                                        "VolumesPerInstance":1
                                    }
                                ]
                            },
                            "InstanceRole":"CORE",
                            "InstanceType.$":"$.emr.worker.instance_type",
                            "Name":"Core - 2"
                        }
                    ]
                },
                "Configurations": [
                    {
                        "Classification":"hive-site",
                        "Properties": {
                            "hive.metastore.client.factory.class":"com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory"
                        }
                    },
                    {
                        "Classification":"spark-hive-site",
                        "Properties":{
                            "hive.metastore.client.factory.class":"com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory"
                        }
                    },
                    {
                        "Classification":"spark-defaults",
                        "Properties":{
                            "spark.serializer": "org.apache.spark.serializer.KryoSerializer",
                            "spark.sql.hive.convertMetastore": "false",
                            "spark.jars": "/usr/lib/hudi/hudi-spark-bundle.jar,/usr/lib/spark/external/lib/spark-avro.jar"
                        }
                    }
                ]
            },
            "ResultPath": "$.cluster",
            "Next": "ParallelLoadSteps"
        },
        "ParallelLoadSteps": {
            "Type": "Map",
            "InputPath": "$",
            "ItemsPath": "$.lambda.table_list",
            "Next": "TerminateCluster",
            "ResultPath": "$.steps",
            "Parameters": {
                "table_name.$": "$$.Map.Item.Value",
                "cluster_id.$": "$.cluster.ClusterId"
            },
            "Catch" : [
                {
                    "ErrorEquals": [ "States.ALL" ],
                    "ResultPath": "$.steps.errors",
                    "Next": "TerminateCluster"
                }
            ],
            "Iterator": {
                "StartAt": "FullLoadStep",
                "States": {
                    "FullLoadStep": {
                        "Type": "Task",
                        "InputPath": "$",
                        "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
                        "Parameters": {
                            "ClusterId.$": "$.cluster_id",
                            "Step": {
                                "ActionOnFailure": "CONTINUE",
                                "HadoopJarStep": {
                                    "Args.$": "States.Array('spark-submit', '${ArtifactPrefixUri}/emr/scripts/full_load.py', '--table_name', $.table_name)",
                                    "Jar": "command-runner.jar"
                                },
                                "Name.$": "$.table_name"
                            }
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [ "States.TaskFailed" ],
                                "IntervalSeconds": 5,
                                "MaxAttempts": 5,
                                "BackoffRate": 1.5
                            }
                        ],
                        "End": true
                    }
                }
            }
        },
        "TerminateCluster": {
            "Type": "Task",
            "Resource": "arn:aws:states:::elasticmapreduce:terminateCluster",
            "InputPath": "$",
            "Parameters": {
                "ClusterId.$": "$.cluster.ClusterId"
            },
            "End": true
        }
    }
}